/* ------------MAIN FONTS------------*/
@font-face {
  font-family: 'Poppins-Light';
  src: url("../webfonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../webfonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../webfonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../webfonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@-webkit-keyframes hoverBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hoverBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins-Medium',sans-serif;
}

.btn-info {
  background-color: #44bbff;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 14px;
}

.btn-info:hover {
  background-color: #44bbff;
  border-color: transparent;
}

.btn-info:hover span {
  -webkit-animation-name: hoverBtn;
          animation-name: hoverBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: inline-block;
}

.title {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 4rem;
  position: relative;
}

.title::before, .title::after {
  content: '';
  height: 3px;
  background-color: #ac62d7;
  position: absolute;
  left: 47%;
  bottom: -20px;
}

.title::before {
  width: 60px;
}

.title::after {
  width: 40px;
  bottom: -30px;
  left: 47.8%;
}

/* -----------MAIN STYLES BEGIN--------------*/
body {
  font-family: 'Poppins-Regular',sans-serif;
  font-size: 16px;
  font-weight: normal;
}

header {
  min-height: 680px;
  background-image: url("../images/1-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

header nav .active .nav-link {
  border-bottom: 2px solid #fff;
}

header nav .nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  -webkit-transition: all 0.4s easy;
  transition: all 0.4s easy;
}

header nav .nav-link:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

header nav .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header nav .btn-primary {
  background-color: #354a97;
  border-radius: 3px;
  border-color: transparent;
  padding: 15px 25px;
  font-size: 14px;
  margin-top: -6px;
}

header nav .btn-primary:hover {
  background-color: #354a97;
  opacity: 0.8;
  border-color: transparent;
}

section:nth-child(1) .row:nth-child(2) .col-md-4 p {
  line-height: 34px;
}

section:nth-child(2) .row:nth-child(1) .col-md-6 p {
  line-height: 34px;
}

section:nth-child(2) .row:nth-child(1) .col-md-6 img {
  width: 100%;
  margin-top: -6rem;
}

section:nth-child(2) .row:nth-child(2) .col-md:nth-child(1) img {
  width: 100%;
}

section:nth-child(2) .row:nth-child(2) .col-md:nth-child(2) p {
  line-height: 34px;
}

section:nth-child(3) .row:nth-child(2) .col-md-3 h4 {
  font-size: 18px;
}

section:nth-child(3) .row:nth-child(2) .col-md-3 p {
  color: #6c757d;
  line-height: 34px;
}

section:nth-child(3) .row:nth-child(3) .col-md-3 h4 {
  font-size: 18px;
}

section:nth-child(3) .row:nth-child(3) .col-md-3 p {
  color: #6c757d;
  line-height: 34px;
}

section:nth-child(4) .card {
  border: none;
  box-shadow: 0 0 2px rgba(80, 80, 80, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(80, 80, 80, 0.2);
  -o-box-shadow: 0 0 2px rgba(80, 80, 80, 0.2);
  -moz-box-shadow: 0 0 2px rgba(80, 80, 80, 0.2);
}

section:nth-child(4) .card .card-body .fa {
  color: #ac62d7;
}

section:nth-child(4) .card .card-body p:nth-child(2) {
  line-height: 30px;
  text-align: center;
}

section:nth-child(4) .card .card-body p:last-child, section:nth-child(4) .card .card-body p:nth-child(3) {
  margin: 2px 0;
}

section:nth-child(4) .carousel-indicators {
  bottom: -25px;
}

section:nth-child(4) .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #787d7f;
  opacity: 0.5;
}

section:nth-child(4) .carousel-indicators lI.active {
  opacity: 1;
}

section:nth-child(5) .card {
  border: none;
  box-shadow: 0 0 1px rgba(80, 80, 80, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(80, 80, 80, 0.2);
  -moz-box-shadow: 0 0 1px rgba(80, 80, 80, 0.2);
  -o-box-shadow: 0 0 1px rgba(80, 80, 80, 0.2);
  padding: 2rem 1rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section:nth-child(5) .card .card-body {
  text-align: center;
}

section:nth-child(5) .card .card-body h1 {
  font-size: 60px;
  color: #1c223a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section:nth-child(5) .card .card-body ul li {
  line-height: 34px;
}

section:nth-child(5) .card .card-body .btn-outline-info {
  margin-top: 1rem;
  border-width: 2px;
  padding: 1rem 1.5rem;
}

section:nth-child(5) .card:hover {
  background: linear-gradient(20deg, #ac62d7, #9b85d7);
  color: #fff;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

section:nth-child(5) .card:hover .list-unstyled li {
  color: #fff !important;
}

section:nth-child(5) .card:hover h1, section:nth-child(5) .card:hover .text-info {
  color: #fff !important;
}

section:nth-child(5) .card:hover .btn-outline-info {
  background-color: #fff;
  border-color: transparent;
  color: #ac62d7;
}

section:nth-child(6) .video-block {
  width: 100px;
  height: 100px;
  background-color: #44bbff;
  border-radius: 50%;
  border: none;
}

section:nth-child(6) .video-block .video-btn {
  background-image: url("../");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

/*-----------MAIN STYLES END------------*/
/*# sourceMappingURL=main.css.map */